.travel-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.locationIcons {
    border: 1px solid #ccc;
    border-radius: 50%;
    /* background-color: #D9D9D9; */
    color: #84829A;
    padding: 5px;
    margin-right: 10px;
    /* margin-right: 10px; */
    /* display: inline-block; */

}

.location-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.location-card-title h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.info-box {
    height: 20px;
    border-radius: 5px;
    font-size: 10px !important;
    background-color: black;
    color: white;
    padding: 2px 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.rating {
    font-size: 1rem;
    color: #666;
    margin: 5px 0;
}

.trip-info {
    font-size: 12px;
    color: #999;
    margin: 0;
    margin: 10px 0px;
}

.location-card-image img {
    height: 200px;
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.location-card-icons {
    /* display: flex; */
    /* justify-content: space-between; */
    margin-bottom: 20px;
}

.location-card-icons svg {
    font-size: 1.5rem;
    color: #ccc;
}

.location-card-accommodation p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.location-card-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.explore-btn {
    background-color: #f0f0f0;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.create-trip-btn {
    background-color: #008080;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    .location-card-image img {
        width: 130px;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .location-card-header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .location-card-image {
        /* margin-top: 20px; */
        /* display: none; */
        /* width: 60%; */
    }

    .location-card-image img {
        /* width: 100%;
        height: auto; */
        width: 260px;
    }

    .location-card-icons {
        /* justify-content: space-around; */
        margin-bottom: 10px;
    }

    .location-card-buttons {
        flex-direction: row;
        justify-content: space-between;
    }

}

@media (max-width: 480px) {
    .travel-card {
        padding: 10px;
    }

    .location-card-title h2 {
        font-size: 1.2rem;
    }

    .rating,
    .trip-info,
    .location-card-accommodation p {
        font-size: 0.8rem;
    }

    .location-card-icons svg {
        font-size: 1.2rem;
    }

    .explore-btn,
    .create-trip-btn {
        padding: 8px 15px;
        font-size: 0.9rem;
    }
}

@media (max-width: 500px) {
    .location-card-image img {
        width: 140px;
    }

}