.destination-card {
    border-radius: 22px;
    overflow: hidden;
    max-width: 400px;
    width: 100%;
}

.destination-card img {
    object-fit: cover;
    height: 300px;
    filter: brightness(0.9);
}

.card-body-destination {
    padding: 1.5rem;
    /* background: linear-gradient(to top, rgba(165, 216, 255, 0.2), rgba(255, 255, 255, 0)); */
}

.card-title-destination {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 0.9rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.avatars img {
    border: 2px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .destination-card img {
        height: 200px;
    }

    .card-body {
        padding: 1rem;
    }

    .card-title {
        font-size: 1rem;
    }

    .card-text {
        font-size: 0.8rem;
    }
}

@media (max-width: 576px) {
    .destination-card img {
        height: 150px;
    }

    .card-title {
        font-size: 0.9rem;
    }

    .card-text {
        font-size: 0.7rem;
    }
}